*{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


ul{
   list-style: none;
   margin: 0;
   padding: 0;
}



.sup-navbar i {
  margin-right: 8px;
}

.main-white{
    background-color: white;
}

.imagenes-terreno {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #e9eef5;
    border-radius: 5%;
}

.main-imagen-terreno{
    height: 300px;
    width: 100%;
    border-radius: 5%;
}

.main-imagen-terreno img{
    height: 300px;
    width: 100%;

    border-radius: 5%;
}

.info-terreno{
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-color: #b4b4b4;
    border-radius: 50%;
}

.rest-imagenes{
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #e9eef5;
    padding-top: 20px;

}

.rest-imagenes img{
    width: 100px;    /* ancho deseado */
    height: auto;    /* altura se ajusta automáticamente */
}


.info-terreno-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-terreno-text ul{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.content-terreno{
    display: flex;
    gap: 30px;
    padding: 30px 30px;
}

.main-white-shadow{
    background-color: white;
    box-shadow: inset 0 5px 10px -5px rgba(0,0,0,0.5);
    border-color: #b4b4b4;
    border-radius: 5%;
}

.main-grey{
    background-color: #efefef;
    box-shadow: inset 0 5px 10px -5px rgba(0,0,0,0.5);
}

.main-green{
    background-color: #529e65;
    box-shadow: inset 0 5px 10px -5px rgba(0,0,0,0.5);
}

.main-soft-blue{
    background-color: #e9eef5;
    /* Sombra solo arriba */
    box-shadow: inset 0 5px 10px -5px rgba(0,0,0,0.5);
}

.opciones{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    padding-left: 20px;
    padding-right: 40px;
    gap: 20px;
    max-width: 200px;
    border-radius: 5%;
    flex: 1;
}

.opciones h2{
    color: #529e65;
}

.group-content{
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 20px;
}

.grupo-terrenos{
    display: flex;
    background-color: white;
    box-shadow: inset 0 5px 10px -5px rgba(0,0,0,0.5);
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0px;
    padding-left: 20px;
    gap: 20px;
    border-radius: 5%;
}

.top-grupo-terrenos {
    display: flex;
    background-color: white;
    box-shadow: inset 0 5px 10px -5px rgba(0,0,0,0.5);
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    gap: 20px;
    border-radius: 20px;   /* mejor en px que % */
    overflow: hidden;     /* 🔑 */
}

.content-catalogo{
    padding: 30px 0px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.page-bottons{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 70px;
    gap: 20px;
}

.config-catalogo{
    padding: 10px 0px;
    gap: 20px;
    display: flex;
    justify-content: space-between; 
}


.options_view ul{
    display: flex;
    gap: 15px;
    cursor: pointer;
    font-size: 20px;
}

.options_view li:hover{
    color: #529e65;
}

.order_view {
   border-radius: 5%; 
   padding-right: 20px;
}


.order_view select{
    border-radius: 5%;
    font-size: 20px;
    width: 180px;
}




.filtro{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filtro-par{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}


.filtro-par li :hover{
    color: #529e65;
    cursor: pointer;           /* manito */
    
}

.mas-terrenos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 40px;
    padding-top: 10px;
    gap: 20px;
}

.mas-terrenos div:hover{
    transform: scale(1.05);
    outline: 3px solid #529e65;
    cursor: pointer;
}


.send-button{
    display: flex;
    justify-content: right;
    padding: 20px 0px;
}

.name-email{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.subject-message{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

label{
    font-size: 18px;
    padding-top: 15px;
}

.celda{
    display: flex;
    flex: 1; 
    flex-direction: column;
    gap: 5px;
}

.celda textarea{
    height: 200px;
}




input{
    font-size: 18px;
    border-width: 1px;
    padding: 5px 3px;
    border-radius: 3px;        /* bordes redondeados */
}


textarea{
    font-size: 18px;
    padding: 5px 3px;
    border-radius: 3px;        /* bordes redondeados */
}


.about-us{
    display: flex;
    gap: 10px;
}

.about-us-text{
    text-align: left;
    color: white;
    padding: 80px 0px;
}

.about-us-text h1{
    padding-top: 15px;
    padding-bottom: 15px;
}

.about-us-text p{
    padding-bottom: 15px;
    font-size: 20px;
}


.contact-text{
    text-align: center;
    color: black;
    padding: 30px 0px;
}

.contact-text h1{
    padding-top: 15px;
    padding-bottom: 15px;
}

.contact-text p{
    padding-bottom: 15px;
    font-size: 20px;
}


.text-center{
    text-align: center;
}

.text-center h1{
    padding-top: 15px;
    padding-bottom: 15px;
}

.text-center p{
    padding-bottom: 15px;
    font-size: 20px;
}

.div-cat{
    padding: 15px 0px;
}

.div-cat h1{
    color: #529e65;
}

.block-grey-shadow{
    background-color: #edeef0;
    box-shadow: inset 0 5px 10px -5px rgba(0,0,0,0.5);
    padding: 10px 10px;
    border-radius: 5%;
    max-width: 220px;
}


a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}


.div-cat-options{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.div-cat-options img:hover{
    transform: scale(1.05);
    outline: 3px solid #529e65;
    cursor: pointer;
}


.div-terreno-options{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.div-terreno-options div:hover{
    transform: scale(1.05);
    outline: 3px solid #529e65;
    cursor: pointer;
}



.div-info-paises{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 50px;
    gap: 20px;
}

.div-paises {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.img-redonda-pais {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.img-redonda {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}


.img-cuadrada {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  object-fit: cover;
}

.seccion-cat{
    margin-top: 0;
    margin-bottom: 0;
}

.categorias{
    display: flex;
    flex-direction: column; /* vertical */
    text-align: center;
    gap: 9px;
}


.opcion_terreno{
    display: flex;
    flex-direction: column; /* vertical */
    text-align: center;
    gap: 9px;
}






.info-buttons{
    display: flex;
    flex: 1;
    gap: 20px;
}


button{
    background-color: #529e65; /* color de fondo */
    color: rgb(255, 255, 255);             /* color del texto */
    border: none;              /* sin borde */
    padding: 10px 20px;        /* tamaño */
    font-size: 16px;
    border-radius: 6px;        /* bordes redondeados */
    cursor: pointer;           /* manito */
}




/* BARRA SUPERIOR */

.sup-navbar{
   background-color: #1d242d;
   display: flex; /* Le digo a los contenedoresde dentro */
                  /* que se pongan horizontales */
   justify-content: space-between;
   padding: 3px 0px;

}

.sup-navbar ul {
    display: flex;
    padding: 0;
    align-items: center;
}

.sup-navbar li {
    list-style: none;
    gap: 5px;
}

.sup-navbar a {
    color: rgb(216, 216, 216);
    display: inline-flex;
    list-style: none;
    padding: 0px 9px;
    margin: 5px;
}

.mail-tel-buttons{
   font-size: 14px;
}





/* BARRA PRINCIPAL */

.main-navbar{
   background-color: rgb(255, 255, 255);
   display: flex;
   margin: 0;
   padding: 0;
   justify-content: space-between;
}

.main-navbar div{
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: 0;
    padding: 0;
}

.main-navbar ul {
    display: flex;
    padding: 0;
    align-items: center;
}

.main-navbar li {
    display: flex;
    list-style: none;
}


.main-navbar a {
    color: rgb(73, 73, 73);
    display: inline-flex;
    list-style: none;
    padding: 0px 9px;
}

.main-navbar a:hover {
    color: #529e65;
    display: flex;
    transform: scale(1.05);
    list-style: none;
}

.main-title-bar{
    color: rgb(73, 73, 73);
    display: ce-flex;
    list-style: none;
    padding: 6px 0px;
}

.main-title-bar h1{
    color: #529e65;
    display: inline-flex;
    list-style: none;
    padding: 6px 0px;
}


.main-navbar img {
    height: 50px;
}

.main-buttons{
    font-weight: bold;
}

.main-buttons ul{
    gap: 25px;
}

.muestra-terrenos {
    background-color: rgb(238, 238, 238);
    display: inline-flex;
    justify-content: space-between;
}

.muestra-terrenos img{
    size: 150px;
}


/* SECCION */
.seccion-muestra{
    margin-top: 0;
    margin-bottom: 0;
}


/* SECCION footer*/
.fotter{
    background-color: #212934;
    color: #212934;
    display: flex;
    flex-direction: column;
}

.conteiner{
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

.dark-blue{
    background-color: #1d242d;
}

/* SECCION general-info*/

#general-info{
   background-color: #212934;
   color: white;
   text-decoration: none;
   margin: 0;
   padding-top: 20px;
   box-sizing: border-box;
   align-items: center;
}

.sub-general-info {
    color: rgb(216, 216, 216);
    display: flex;
    gap: 240px;               /* separa los divs */
    text-decoration: none;
    list-style: none;
}


.sub-general-info a {
    color: rgb(216, 216, 216);
    font-size: 18px;
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    padding: 6px 0px;
    margin: 5px;
}

.sub-general-info a:hover {
    color: #529e65;
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    padding: 6px 0px;
    margin: 5px;
}

.sub-general-info h2{
    color: rgb(216, 216, 216);
    font-size: 30px;
    display: inline-flex;
    list-style: none;
    padding: 6px 0px;
    margin: 5px;
    align-items: center;
}

i {
  margin-right: 7px;
  margin-top: 3px;
}

#datos h2{
    color: #529e65;
    display: inline-flex;
    list-style: none;
    align-items: center;
}

#social-options{
   background-color: #212934;
   color: #212934;
   text-decoration: none;
   align-items: center;
   padding: 20px 0;
}

#social-options a {
    color: rgb(216, 216, 216);
    font-size: 18px;
    display: inline-flex;
    text-decoration: none;
    list-style: none;
}

#social-options a:hover {
    color: #529e65;
    display: inline-flex;
    text-decoration: none;
    list-style: none;
}

#social ul{
    display: flex;
    gap: 80px;
}

#social i{
    color:rgb(216, 216, 216);
    font-size: 28px;
}

#social a :hover{
    color:#529e65;
}


.divider {
    width: 100%;
    height: 1px;
    background-color: #2d343f;
    margin-bottom: 1rem;
}


/* SECCION COPYRIGHT*/

#copyright{
   background-color: #1d242d;
   color: white;
   text-decoration: none;
   align-items: center;
   display: flex;
   padding: 20px 0;
}

.linkedin {
   color: rgb(255, 255, 255);
   display: flex;
   list-style: none;
   margin: 5px;
}

.linkedin :hover {
   color: #529e65;
   
   display: flex;
   list-style: none;
}



.rest-imagenes img {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
}

.rest-imagenes img:hover {
  opacity: 1;
  transform: scale(1.05);
}

.rest-imagenes img.activa {
  opacity: 1;
  outline: 3px solid #529e65;
}

a {
   text-decoration: none;
   list-style: none;
}

.page-bottons button {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
}

.page-bottons button:hover {
  opacity: 1;
  transform: scale(1.05);
}

.page-bottons button.activa {
  opacity: 1;
  outline: 3px solid #529e65;
}

#boton-prinicpal{
    opacity: 1;
    outline: 3px solid #529e65;
}